* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.car {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("./assets/Mersedes Benz e-class.png");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.car h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 300px); 
  gap: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  color: blueviolet;
  
}

.card img {
  width: 100%;
  border-radius: 6px;
}

.benz {
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

